# Vivado specific files
.Xil/
vivado-runtime/tmp/
vivado-runtime/rtl-elaborate/
*.str

# editor specific folders
.nvim/
.vscode/

# Python files
.venv/
.python-version
__pycache__/

# Claude project environment files
CLAUDE.md
work/

# Animation generation files
animation_py/

# Do not track plots
vivado-analysis_plots/

# Some local testing Tcl scripts
vivado-synthesis_tcl/vivado_analysis_cycled.tcl
vivado-synthesis_tcl/synth_design_test.tcl
vivado-synthesis_tcl/synth_design_test_nonproject.tcl

# Linter
.svlint.toml
.svls.toml