# Vivado specific files
.Xil/
*.str

# Vivado project files
SystolicArray-vivado/
RegisterArray-vivado/
RegisterTree-vivado/
vivado_bram_tree/
vivado_pipelined_bram_tree/
vivado_hybrid_tree/

# editor specific folders
.nvim/
.vscode/

# Python files
.venv/
.python-version
__pycache__/

# Claude project environment files
CLAUDE.md
work/

# Animation generation files
animation_py/
