# Vivado specific files
.Xil/
*.str

# editor specific folders
.nvim/
.vscode/

# Python files
.venv/
.python-version
__pycache__/

# Vivado project files
SystolicArray-vivado/
RegisterArray-vivado/
RegisterTree-vivado/
vivado_bram_tree/
vivado_pipelined_bram_tree/
vivado_hybrid_tree/

work/
.svlint.toml
.svls.toml
CLAUDE.md

animation_py/animation/images/
animation_py/animation/texts/
animation_py/animation/videos/
